*
{
    padding: 0;
    margin: 0;
    font-family: Monsterrat, sans-serif;
}

header
{
    height: 90px;
    line-height: 90px;
    background: #59bede;
    text-align: center;
     color: #fff;
}

header ul li
{
    text-decoration: none;
    list-style-type: none;
}

ul li a
{
    color: #fff;
}

.text-section,.portofolio, .portofolio-2
{
    background: #fff;
    padding: 10px 120px 60px  120px;
}

.fa-arrow-left, .fa-arrow-up
{
    font-size: 14px;
    color: dodgerblue
}

span i
{
    padding: 60px 0;
}

h1
{
    text-transform: capitalize;
}

.stroke
{
    width: 50px;
    border: 2px solid #d4cccc;
    display: block;
    margin: 30px 0;
    opacity: .7;
}

.text
{
    font-size: 18px;
    padding: 10px 0 0 0; 
    border-radius: 5px;
    opacity: .7;
}

.text-size
{
    font-size: 18px;
}

h3.pull-left
{
    padding-left: 12px;
}

.portofolio

{
    background: #f7f7f7;
    padding-top: 60px;
}

hr
{
    margin: 40px 10px 0 10px;
}

.arrow-up
{
    border: 1px solid #59bede;
    background: none;
    color: #59bede;
    padding: 5px 20px;
    left: 75%;
    position: relative;
    border-radius: 25px;
}

.card
{
    position: relative;
    padding: 50px 0;
    margin: 0 10px;
}

.upper-case
{
    text-transform: uppercase;
    padding: 40px 10px 30px 10px;
    opacity: .6;
}

.sections
{
    text-transform: uppercase;
    opacity: .5;
}

.card-portofolio
{
    position: absolute;
}

.check
{
    top: 45%;
    position: absolute;
    color: #5e8ac7;
    left:3.5%;
    z-index: 100;
    font-size: 26px;
}

.card-content
{
    position: relative;
    padding: 0 50px;
}

.icon
{
    position: relative;
    float: right;
    left: 350%;
    color: #59bede;
}

.card_head
{
    padding-top: 200px;
    color: #5e8ac7;
    font-weight: bold;
}

.card-text
{
    padding: 25px  35px 0 35px;
    opacity: .7;
}


.portofolio-2 .card
{
    background: #f7f7f7;
}

.portofolio-2
{
    margin-top: 50px;
}

footer
{
    height: 350px;
    background: #59bede;
    color: #fff;
    line-height: 350px;
    text-align: center;
    bottom: 0;
}

footer p
{
    margin: 0;
}

@media screen  and (max-width:1196px)
{
    .icon
    {
        left: 300%;
    }
}

@media screen  and (max-width:1130px)
{
    .icon
    {
        left: 280%;
    }
}

@media screen  and (max-width:1080px)
{
    .icon
    {
        left: 250%;
    }
}

@media screen  and (max-width:1030px)
{
    .icon
    {
        left: 200%;
    }
}

/************************media querries*******************************/


@media screen  and (max-width:930px)
{
    .icon
    {
        left: 150%;
    }
    
    .text-section,.portofolio, .portofolio-2
    {
        background: #fff;
        padding: 10px 50px 60px  50px;
    }
}

@media screen  and (max-width:848px)
{
    .icon
    {
        left: 350%;
    }
}

@media screen  and (max-width:767px)
{
    .arrow-up
    {
        text-align: center;
    }
}

@media screen  and (max-width:687px)
{
    .icon
    {
        left: 50%;
    }
    
    .card
    {
        margin-top: 30px;
    }
}