{% load static %}
<! DOCTYPE html>
<html>
    <head>
        <title>Test</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
    </head>
    <body>
        <header>
            <ul>
                <li><a>Header</a></li>
            </ul>
        </header>
         <section class="text-section">
            <div class="container">
                <span>
                    <i class="fa fa-arrow-left"></i> <span class=""> Jump to where you left off:</span> <a href="#">heading goes here</a>
                </span>

                <h1>The interview cake course</h1>
                <span class="stroke"></span>
                
                <p class="text">
                    You took a look at the various attributes and features of Bootstrap in the earlier 
                    chapters. However, just learning the concepts is not enough, as you need to 
                    possess the skills to implement them practically. In this chapter, we will create 
                    an e-commerce website that will help you get to grips with web designing 
                    using Bootstrap. an e-commerce website that will an e-commerce website that
                    will help you get to grips with web designing 
                    using Bootstrap..
                </p>

                <p class="text">
                    You took a look at the various attributes and features of Bootstrap in the earlier 
                    chapters. However, just learning the concepts is not enough, as you need to 
                    possess the skills to implement them practically. In this chapter, we will create 
                    an e-commerce website that will help you get to grips with web designing 
                    using Bootstrap. an e-commerce website that will an e-commerce website that
                    will help you get to grips with web designing 
                    using Bootstrap..
                </p>

                    <span class="text-size">
                        <a href="#" >Give me exercises and content:</a>
                    </span>
            </div>
        </section>
        
        <section class="portofolio">
            <div class="container">
                <p class="sections">section 1</p>
                <div class="row">
                    <h3 class="col-md-6 pull-left">General topic</h3>
                    <div class="col-md-6">
                        <button class="arrow-up"><i class="fa fa-arrow-up"></i> show less</button>
                    </div>
                </div>
            </div>
            
            <hr>
            <section class="cards-section">
                <p class="upper-case">readings</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="row">
                                <div class="card-content">
                                     <span class="card_head">Heading</span>
                                     <div class="icon">
                                        <i class="fa fa-user"></i>
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-text">
                                <span class=""> You took a look at the various attributes and features of Bootstrap in the earlier 
                                                chapters. You took a look at the various attributes<span>
                            </div>
                        </div>
                                
                        <div class="check">
                            <i class="fa fa-check-circle"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="row">
                                <div class="card-content">
                                     <span class="card_head">Heading</span>
                                     <div class="icon">
                                        <i class="fa fa-user"></i>
                                        <i class="fa fa-pencil"></i>
                                     </div>
                                </div>
                            </div>
                            <div class="card-text">
                                <span class=""> You took a look at the various attributes and features of Bootstrap in the earlier 
                                                chapters. You took a look at the various attributes<span>
                            </div>
                        </div>
                                
                        <div class="check">
                            <i class="fa fa-check-circle"></i>
                        </div>
                    </div>
                </div>
                        
                 <p class="upper-case">questions</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="row">
                                <div class="card-content">
                                     <span class="card_head">Heading</span>
                                     <div class="icon">
                                        <i class="fa fa-user"></i>
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-text">
                                <span class=""> You took a look at the various attributes and features of Bootstrap in the earlier 
                                                chapters. You took a look at the various attributes<span>
                            </div>
                        </div>
                                
                        <div class="check">
                            <i class="fa fa-check-circle"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="row">
                                <div class="card-content">
                                     <span class="card_head">Heading</span>
                                     <div class="icon">
                                        <i class="fa fa-user"></i>
                                        <i class="fa fa-pencil"></i>
                                     </div>
                                </div>
                            </div>
                            <div class="card-text">
                                <span class=""> You took a look at the various attributes and features of Bootstrap in the earlier 
                                                chapters. You took a look at the various attributes<span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        
        <section class="portofolio-2">
            <div class="container">
                <p class="sections">section 2</p>
                <div class="row">
                    <h3 class="col-md-6 pull-left">General topic</h3>
                    <div class="col-md-6">
                    <button class=" arrow-up">&#8593 show less</button>
                    </div>
                </div>
            </div>
            
            <hr>
            <section class="cards-section">
                <p class="upper-case">readings</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="row">
                                <div class="card-content">
                                     <span class="card_head">Heading</span>
                                     <div class="icon">
                                        <i class="fa fa-user"></i>
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-text">
                                <span class=""> You took a look at the various attributes and features of Bootstrap in the earlier 
                                                chapters. You took a look at the various attributes<span>
                            </div>
                        </div>
                                
                        <div class="check">
                            <i class="fa fa-check-circle"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="row">
                                <div class="card-content">
                                     <span class="card_head">Heading</span>
                                     <div class="icon">
                                        <i class="fa fa-user"></i>
                                        <i class="fa fa-pencil"></i>
                                     </div>
                                </div>
                            </div>
                            <div class="card-text">
                                <span class=""> You took a look at the various attributes and features of Bootstrap in the earlier 
                                                chapters. You took a look at the various attributes<span>
                            </div>
                        </div>
                                
                        <div class="check">
                            <i class="fa fa-check-circle"></i>
                        </div>
                    </div>
                </div>
                        
                 <p class="upper-case">questions</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="row">
                                <div class="card-content">
                                     <span class="card_head">Heading</span>
                                     <div class="icon">
                                        <i class="fa fa-user"></i>
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="card-text">
                                <span class=""> You took a look at the various attributes and features of Bootstrap in the earlier 
                                                chapters. You took a look at the various attributes<span>
                            </div>
                        </div>
                                
                        <div class="check">
                            <i class="fa fa-check-circle"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="row">
                                <div class="card-content">
                                     <span class="card_head">Heading</span>
                                     <div class="icon">
                                        <i class="fa fa-user"></i>
                                        <i class="fa fa-pencil"></i>
                                     </div>
                                </div>
                            </div>
                            <div class="card-text">
                                <span class=""> You took a look at the various attributes and features of Bootstrap in the earlier 
                                                chapters. You took a look at the various attributes<span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        
                        
        <footer>
            <p>Footer</p>
        </footer>
    </body>
</html>